xml-resources/web-service-references/HelloWorldService/wsdl/asuSLIGHTOM_8080/WebServicesGlass/HelloWorldService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://package1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://package1/" name="HelloWorldService">
<types>
<xsd:schema>
<xsd:import namespace="http://package1/" schemaLocation="http://asuSLIGHTOM:8080/WebServicesGlass/HelloWorldService?xsd=1"/>
</xsd:schema>
</types>
<message name="getHelloWorldAsString">
<part name="parameters" element="tns:getHelloWorldAsString"/>
</message>
<message name="getHelloWorldAsStringResponse">
<part name="parameters" element="tns:getHelloWorldAsStringResponse"/>
</message>
<message name="getHelloDarknessMyOldFriend">
<part name="parameters" element="tns:getHelloDarknessMyOldFriend"/>
</message>
<message name="getHelloDarknessMyOldFriendResponse">
<part name="parameters" element="tns:getHelloDarknessMyOldFriendResponse"/>
</message>
<message name="InvalidInputException">
<part name="fault" element="tns:InvalidInputException"/>
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<portType name="IHelloWorld">
<operation name="getHelloWorldAsString">
<input wsam:Action="http://package1/IHelloWorld/getHelloWorldAsStringRequest" message="tns:getHelloWorldAsString"/>
<output wsam:Action="http://package1/IHelloWorld/getHelloWorldAsStringResponse" message="tns:getHelloWorldAsStringResponse"/>
</operation>
<operation name="getHelloDarknessMyOldFriend">
<input wsam:Action="http://package1/IHelloWorld/getHelloDarknessMyOldFriendRequest" message="tns:getHelloDarknessMyOldFriend"/>
<output wsam:Action="http://package1/IHelloWorld/getHelloDarknessMyOldFriendResponse" message="tns:getHelloDarknessMyOldFriendResponse"/>
<fault message="tns:InvalidInputException" name="InvalidInputException" wsam:Action="http://package1/IHelloWorld/getHelloDarknessMyOldFriend/Fault/InvalidInputException"/>
</operation>
<operation name="getProducts">
<input wsam:Action="http://package1/IHelloWorld/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://package1/IHelloWorld/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
</portType>
<binding name="HelloWorldPortBinding" type="tns:IHelloWorld">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getHelloWorldAsString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHelloDarknessMyOldFriend">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidInputException">
<soap:fault name="InvalidInputException" use="literal"/>
</fault>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HelloWorldService">
<port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
<soap:address location="http://asuSLIGHTOM:8080/WebServicesGlass/HelloWorldService"/>
</port>
</service>
</definitions>